# Pandas

###### É uma biblioteca criada para manibular dados estruturado,tem uma importante função para indexação.

###### Utilizada na fase de preparação dos dados.

###### Funciona muito bem com o NumPy

##### Estruras de sereis e Dataframe

###### Series é um array unidimensional que contém um array de dados e um array de labels, chamado de Indice.

###### Dataframes representam uma estrutura tabular semelhante a estrutura de uma planilha de Exel,contendo uma coleção de colunas em que cada uma pode ser um diferente tipo de valor(número, string,etc...).

###### Os dataframes possuem index e linhas, são armazenados em um ou mais blocos bidimensionais, ao invés de listas, dicionários ou alguma outra estrutura de array.

In [1]:
# criando uma serie e especificando os indices
from pandas import Series

In [5]:
#Importando o pacote pandas inteiro
import pandas as pd

In [4]:
pd.__version__

'0.25.2'

In [7]:
#Criando uma série sem especifica os indices
obj = Series([32, 82, -36, 16])

In [8]:
obj

0    32
1    82
2   -36
3    16
dtype: int64

In [9]:
type(obj)

pandas.core.series.Series

In [12]:
# Estraindo valores da Série
obj.values

array([ 32,  82, -36,  16], dtype=int64)

In [13]:
# Estraindo indices da Série
obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
#Criando uma série especifica os indices
obj2 = Series([36, 28, -63, 61], index = ['a', 'b', 'c', 'd'])

In [16]:
obj2

a    36
b    28
c   -63
d    61
dtype: int64

In [17]:
obj2.values

array([ 36,  28, -63,  61], dtype=int64)

In [18]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [19]:
obj2 [obj2 < 50]

a    36
b    28
c   -63
dtype: int64

In [22]:
# Mostrando o valor do Index
obj2['b']

28

In [23]:
# Verificando se possui 'd' no obj2
'd' in obj2

True

In [24]:
# Criando uma Série de dados passando um dicionário como parâmetro
dict = {'uva':43, 'morango':64, 'kiwi':78, 'tangerina':85}

In [25]:
#Criando uma Série a partir de um dicionário
obj3 = Series(dict)

In [26]:
obj3

uva          43
morango      64
kiwi         78
tangerina    85
dtype: int64

In [27]:
type(obj3)

pandas.core.series.Series

In [33]:
# Criando uma lista
frutas = ['uva', 'morango', 'kiwi', 'laranja']

In [34]:
# Criando uma série usando uma lista como indice
obj4 = Series(dict, index = frutas)

In [35]:
obj4

uva        43.0
morango    64.0
kiwi       78.0
laranja     NaN
dtype: float64

In [36]:
# Perguntando se tem um objerto nulo
pd.isnull(obj4)

uva        False
morango    False
kiwi       False
laranja     True
dtype: bool

In [39]:
# Perguntando se tem um objerto não nulo
pd.notnull(obj4)

uva         True
morango     True
kiwi        True
laranja    False
dtype: bool

In [40]:
# Perguntando se tem um objerto nulo com o 
obj.isnull()

a    False
b    False
c    False
d    False
dtype: bool